/* body { margin: 0 115px; box-sizing: border-box } */

section {
    background-color: #ffffff;
    width: 1600px;
    margin: 0 auto;
}

#main {
    margin-bottom: 30px;
}

img {
    border-radius: 2px;
}

.hide {
    display: none;
}

.show {
    display: block;
}

section>div,
section>ul {
    width: 1140px;
    margin: 0 auto;
}

input {
    border: none;
}

.header-content {
    height: 90px;
    padding-top: 10px;
    box-sizing: border-box;
}

.header-content * {
    color: #525251;
}

.header-nav {
    box-shadow: none;
    border: none;
}

.header-nav-main {
    height: 80px;
}

.header-nav>.header-nav-main {
    background-color: #fff;
    border: none;
}

.header-nav-main li {
    height: 80px;
    line-height: 80px;
    min-width: 0;
    font-size: 16px;
    font-weight: bolder;
}

.header-nav>.header-nav-main .layui-this {
    background-color: #0063b7;
    color: #fff;
}

.header-nav-main .layui-this:after {
    position: relative;
    border: none;
}

.header-content .search {
    height: 100%;
}

.header-content .search::before {
    content: "";
    position: relative;
    top: -5px;
    width: 1px;
    height: 90px;
    background-color: #b2b2b2;
}

.header-content .search input {
    background: url(../img/ic-zoom.png) no-repeat 10px center;
    padding-left: 40px;
    background-size: 24px 24px;
    height: 30px;
    width: 75px;
    font-size: 14px;
}

.header-content .search button {
    height: 30px;
    width: auto;
    font-size: 14px;
}

#footer::before {
    /* content: "";
    position: absolute;
    width: 1600px;
    height: 4px;
    background-color: #0096e0;
    left: 50%;
    transform: translate(-50%); */
}

#footer {
    margin: 0 auto;
    border-top: 3px solid #0096e0;
}

.footer-content {
    height: 132px;
}

.footer-content * {
    font-size: 13.5px;
}

.footer-content .footer-nav {
    margin-top: 10px;
}

.footer-content .footer-nav li {
    color: #525251;
    padding: 0 5px;
}

.footer-content .footer-nav li:nth-child(1),
.footer-content .footer-nav li:nth-child(2) {
    border-right: 1px solid #525251;
}

.footer-content .footer-nav li:nth-child(4) {
    margin-left: 35px;
}

.footer-content .footer-nav li img {
    width: 30px;
    height: 30px;
}

.footer-content .footer-address {
    margin-top: 15px;
}

.footer-content .footer-address p {
    line-height: 1.5;
}

.footer-content .footer-address p * {
    margin-left: 12px;
}

.footer-content .footer-address p span:nth-child(1) {
    margin-left: 0px;
}

.banner {
    width: 1600px;
    margin: 0 auto;
}

.banner img {
    width: 1600px;
}

.main-top {
    width: 1600px;
    border-bottom: 1px solid #eee;
}

.main-nav {
    width: 1140px;
    height: 78px;
    line-height: 78px;
    margin: 0 auto;
}

.main-nav-location span {
    padding: 0 5px;
}

.main-nav>.main-nav-main {
    height: 78px;
    line-height: 78px;
}

.main-nav>.main-nav-main li {
    height: 78px;
    line-height: 78px;
    min-width: 0;
    font-size: 12px;
}

.main-nav>.main-nav-main .layui-this::after {
    height: 79px;
    line-height: 79px;
}

.main-main {
    box-sizing: border-box;
    margin-bottom: 40px;
    min-height: 520px;
}

.main-main.layui-tab-content {
    padding: 0;
}


/* 新聞-概括 */

.main-content {
    box-sizing: border-box;
    width: 810px;
    padding-right: 30px;
}

.main-content * {
    color: #474545;
}

.main-content-top {
    height: 240px;
    border-bottom: 1px solid #e1e1e1;
}

.main-content-bottom-item {
    height: 140px;
    border-bottom: 1px solid #e1e1e1;
}

.main-content-top div {
    width: 405px;
}

.new-title {
    font-size: 21px;
    line-height: 2;
}

.new-title.font-s {
    font-size: 17px;
    line-height: 1.5;
    margin-top: 10px;
}

.new-content {
    margin-bottom: 15px;
}

.new-content,
.new-msg {
    font-size: 12px;
    line-height: 1.5;
}

.new-share {
    margin-top: 20px;
}

.new-share img {
    width: 20px;
    height: 20px;
}

.main-content-bottom-right {
    margin-left: 20px;
    width: 670px;
}

.watch-more {
    height: 55px;
    background-color: #dee0e1;
    border-radius: 2px;
}

.pic-l img {
    width: 355px;
    height: 200px;
}

.pic-s img {
    width: 90px;
    height: 90px;
}


/* 新聞-詳細 */

.main-content-top-2 {
    padding-bottom: 10px;
}

.main-content-new-main {
    width: 630px;
    margin-bottom: 35px;
}

.main-content-new-date {
    width: 90px;
    height: 90px;
    background-color: #e1e1e1;
    margin-right: 20px;
    margin-top: 15px;
}

.main-content-turn a {
    color: #000;
    margin-left: 15px;
    font-weight: bolder;
}

.main-content-turn a:first-child {
    margin-left: 0;
}

.main-content-bottom-2 {
    border-top: 2px solid #e1e1e1;
}

.main-content-bottom-2>div {
    height: 170px;
}

.main-content-bottom-left-2 {
    width: 435px;
    border-right: 2px solid #e1e1e1;
}

.main-content-bottom-left-2 .main-content-new-simple {
    width: 300px;
}

.main-content-bottom-right-2 {
    width: 320px;
    padding-left: 25px;
}

.main-content-bottom-right-2 .about-new {
    margin-top: 10px;
}

.main-content-bottom-right-2 .about-new li {
    line-height: 1.5;
}

.main-content-day {
    line-height: 1.3;
    font-size: 34.5px;
}

.main-content-mouth,
.main-content-year {
    line-height: 1.5;
    font-size: 13.5px;
}

.main-content-day-2 {
    line-height: 1.2;
    font-size: 39px;
    font-weight: bolder;
}

.main-content-ym {
    line-height: 1.5;
    font-size: 16px;
    border-top: 2px solid #0096e0;
}


/* 行业标准 */

.main-content-new-content {
    width: 675px;
    padding-right: 20px;
}

.main-content-pic {
    padding-top: 8px;
    max-height: 720px;
    max-width: 1140px;
}

.main-content-pic .main-content-pic-item {
    width: 220px;
    height: 170px;
    border: 3px solid #ededed;
    border-radius: 1px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-right: 10px;
}

.pic-item-name {
    margin-top: 10px;
}

.main-content-pic .main-content-pic-item:nth-child(5n) {
    margin-right: 0;
}


/* 会员中心 */

.main-content-2 {
    box-sizing: border-box;
}

.main-content-new-pic {
    width: 90px;
    height: 90px;
    margin-right: 20px;
    margin-top: 15px;
    background-color: #e1e1e1;
}

.main-content-new-pic img {
    width: 80px;
    height: 60px;
}


/* 右侧广告 */

.main-ad {
    width: 325px;
}

.main-ad img {
    margin-top: 10px;
    width: 300px;
    height: 136px;
}

.main-ad img:first-child {
    margin-top: 24px;
    width: 300px;
    height: 313px;
}